.home_page_all_info {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.first_section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 90px;
}

.first_section_text_container {
  flex: 3;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.first_section_text_container h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.first_section_text_container h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.81);
  margin: 0;
}

.first_section_text_container span {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-green-color);
}

.schema_logo_conainter {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.schema_logo_conainter img {
  width: 100%;
}

/*popupul 2*/
.utility_bill_popup {
  opacity: 0.8;
  height: 0px;
  visibility: hidden;
  transform: translateY(-60px);
}
.utility_bill_popup.openedPopup {
  height: 700px;
  margin-top: -75px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: visibility 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
  cursor: auto;
  margin-bottom: 60px;
}

/*popupul 3*/

.energy_options_popup {
  opacity: 0.8;
  height: 0px;
  visibility: hidden;
  transform: translateY(-60px);
}
.energy_options_popup.openedPopup {
  height: 610px;
  margin-top: -75px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: visibility 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
  cursor: auto;
  margin-bottom: 60px;
}

@media (max-width: 1280px) {
  .first_section_text_container h1 {
    font-size: 32px;
  }

  .first_section_text_container h2 {
    font-size: 24px;
  }

  .first_section_text_container span {
    font-size: 16px;
  }
  .utility_bill_popup.openedPopup {
    height: 650px;
  }
  .energy_options_popup.openedPopup {
    height: 460px;
  }
}

@media (max-width: 1024px) {
  .first_section_text_container {
    gap: 25px;
  }

  .first_section_text_container h1 {
    font-size: 25px;
  }

  .first_section_text_container h2 {
    font-size: 18px;
  }

  .first_section_text_container span {
    font-size: 12px;
  }
  .utility_bill_popup.openedPopup {
    height: 550px;
    margin-top: -46px;
  }
  .energy_options_popup.openedPopup {
    height: 440px;
    margin-top: -46px;
  }
}

@media (max-width: 800px) {
  .first_section_text_container {
    gap: 15px;
  }

  .first_section_text_container h1 {
    font-size: 20px;
  }

  .first_section_text_container h2 {
    font-size: 14px;
  }

  .first_section_text_container span {
    font-size: 12px;
  }
  .utility_bill_popup.openedPopup {
    height: 1030px;
  }
  .energy_options_popup.openedPopup {
    height: 305px;
  }
}

@media (max-width: 500px) {
  .first_section {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .utility_bill_popup.openedPopup {
    height: 1030px;
    margin-top: -77px;
  }
  .energy_options_popup.openedPopup {
    height: 480px;
    margin-top: -77px;
  }
}

/*a doua sectie. Fiecare cu stil separat integral.*/

.second_section {
  display: flex;
  flex-direction: column;
}

.second_section_text_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 65px;
}
.second_section_text_container h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.second_section_text_container h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.81);
  margin: 0;
}

.benefit_text_container h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.81);
  margin: 0;
}

.benefit_text_container p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.81);
  margin: 0;
}

.benefit_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 35px;
}

.logo_benefit_continer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.logo_benefit_continer img {
  width: 100%;
}

.benefit_text_container {
  flex: 5;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1280px) {
  .home_page_all_info {
    margin-bottom: 60px;
  }
  .second_section_text_container h1 {
    font-size: 32px;
  }

  .second_section_text_container h2 {
    font-size: 22px;
  }
  .second_section_text_container {
    margin-bottom: 50px;
  }

  .second_section_text_container {
    gap: 25px;
    margin-bottom: 55px;
  }

  .benefit_text_container {
    gap: 15px;
  }
  .benefit_text_container h2 {
    font-size: 22px;
  }
  .benefit_text_container p {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .home_page_all_info {
    margin-bottom: 40px;
  }
  .second_section_text_container h1 {
    font-size: 25px;
  }

  .second_section_text_container h2 {
    font-size: 18px;
  }
  .second_section_text_container {
    margin-bottom: 40px;
  }

  .second_section_text_container {
    gap: 25px;
    margin-bottom: 55px;
  }

  .benefit_text_container {
    gap: 5px;
  }
  .benefit_text_container h2 {
    font-size: 16px;
    font-weight: 600;
  }
  .benefit_text_container p {
    font-size: 12px;
    text-align: justify;
  }
  .benefit_container {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .home_page_all_info {
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .home_page_all_info {
    margin-bottom: 20px;
  }
  .benefit_text_container {
    flex: 3;
  }
}
