.building_container {
  position: absolute;
  background-color: white;
  z-index: 1000;
  top: 40px;
  left: -20px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  width: fit-content;
  padding: 7px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 0.5px rgb(234, 234, 234);
}

.options_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.options_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 30px;
  user-select: none;
}

.options_list li span {
  width: 100px;
  font-size: 16px;
}

.options_list li img {
  height: 70%;
}

.options_list li div,
.options_list li input {
  display: flex;
  height: 100%;
  width: 240px;
  justify-content: flex-end;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: none;
  outline: none;
}

.select_container {
  display: flex;
  align-items: center;
  padding: 0, 5px;
}

.select_container select {
  height: 32px;
  font-size: 16px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  appearance: none;
  background-image: url("../../Assets/down-chevron.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  overflow-y: auto;
}

.select_container select option {
  font-size: 18px;
}

.options_list li input {
  padding-left: 10px;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
}

.input_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  padding: 5px;
}

.input_number:hover::-webkit-inner-spin-button {
  background: transparent url("../../Assets/drop-down.png") no-repeat 50% 50%;
  padding-right: 5px;
  width: 8px;
  height: 24px;
}

@media (max-width: 1280px) {
  .building_container {
    top: 30px;
  }
}

@media (max-width: 1024px) {
  .options_list li div,
  .options_list li input {
    font-size: 12px;
    width: 200px;
  }
  .select_container select {
    font-size: 12px;
  }
  .select_container select option {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .options_list li img {
    display: none;
  }
  .options_list li span {
    width: 75px;
    font-size: 14px;
  }
}
