.simulate_section {
  width: 90%;
  margin: auto;
  position: relative;
}

.simulate_section_list {
  position: relative;
  display: flex;
  width: 100%;
  margin: auto;
  gap: 3px;
  padding: 0;
  margin-bottom: 80px;
}

.simulate_option {
  position: relative;
  flex: 1;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  gap: 15px;
  border-radius: 10px;
  background: #f7f7f7;
  color: #6b6b6b;
  font-size: 18px;
  box-shadow: 1px 1px 8px 1px #6565655d;
  user-select: none;
  cursor: pointer;
}

.simulate_section_list li img,
.simulate_button img {
  height: 85%;
  width: auto;
}

.simulate_option:nth-child(4) {
  cursor: default;
}

.simulate_option input {
  height: 80%;
  width: 80%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
}

.simulate_button {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--primary-green-color);
  height: 45px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  justify-content: center;
  gap: 8px;
  padding: 5px 25px;
  border-radius: 10px;
  transition: all 0.15s ease;
  box-shadow: 1px 1px 8px 1px #6565655d;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.simulate_button:hover {
  background: #00865b;
  box-shadow: 1px 1px 4px 2px #6b6b6b5d;
}

.simulate_button:active {
  background-color: #006a48;
}


/*clasele pentru popupri*/

.building_popup {
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  visibility: hidden;
  transform: translateY(-60px);
}
.building_popup.openedPopup {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 0.5s ease;
  cursor: auto;
}

@media (max-width: 1280px) {
  .simulate_section_list {
    margin-top: 60px;
  }
  .simulate_section_list li {
    height: 35px;
    font-size: 14px;
    gap: 5px;
  }

  .simulate_section_list li img {
    height: 70%;
  }
  .simulate_button {
    gap: 5px;
    padding: 5px 30px;
  }

  .simulate_button img {
    height: 80%;
    width: auto;
  }
}

@media (max-width: 1024px) {
  .simulate_section_list {
    margin-bottom: 50px;
  }
  .simulate_section_list li {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .simulate_button {
    gap: 3px;
    padding: 5px 25px;
  }

  .simulate_button img {
    height: 65%;
    width: auto;
  }
}

@media (max-width: 800px) {
  .simulate_button {
    padding: 5px 15px;
  }
}

@media (max-width: 500px) {
  .simulate_section_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
  }
  .simulate_button {
    font-size: 16px;
    gap: 10px;
    padding: 3px 12px;
    grid-column: span 3;
  }
  .simulate_button img {
    height: 80%;
    width: auto;
  }
}


